
<section class="page-section bg-primary vh-100" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Hi, mi name is Marco!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">I´been working as Developer since January 2023, as Backend developer in .NET at IncluIt and as Web Developer by my own. 
                    I´m always traing to improve and become the better version posible of my self for giving my clients the best they can get!</p>
                <a class="btn btn-light btn-xl" asp-area="" asp-controller="Home" asp-action="Contact">Let´s get started</a>
            </div>
        </div>
    </div>
</section>
